In [16]:
import os
import sys
sys.path.append(os.path.abspath(os.pardir))
import pandas as pd
from config import Settings

In [17]:
s = Settings()

In [25]:
df1 = pd.read_csv('transactions_1.csv')
df2 = pd.read_csv('transactions_1.csv')
df = pd.concat([df1, df2], ignore_index=True)
df.drop(columns=['Column 1', 'Column 5', 'Column 8', 'Column 12'], inplace=True)
df = df.rename(columns={
    'Column 2': 'Txn Hash',
    'Column 3': 'Method',
    'Column 4': 'Block',
    'Column 6': 'Age',
    'Column 7': 'From',
    'Column 9': 'To',
    'Column 10': 'Value',
    'Column 11': 'Txn Fee',
})

In [11]:
df.head()

,Txn Hash,Method,Block,Age,From,To,Value,Txn Fee
0,0x6d20460ef08897c2c381cb81da0e51a9c31b124aee7a...,0x0e0f4449,15193392,3 secs ago,0xd7a23f3f45e09110a563758963aca34ef63373c3,0xfb57ba87b4be65337352f31cc83899e069f19434,0 ETH,4.580000e-06
1,0x77537c6504c07c0668003950959fd380cbda2da0d194...,Approve,15193392,3 secs ago,0xaa3ef75d3087e74314bec570bbaec804bded12f9,0x000000000022d473030f116ddee9f6b43ac78ba3,0 ETH,7.000000e-08
2,0x211f0142b54da17a0109ebd279c5aec7e0831dd9e5fc...,Execute,15193392,3 secs ago,0xf3780b2e60306eeafd5c6b7381a0c141d7c3c378,Uniswap: Universal Router V1 2 V2Support,0 ETH,2.600000e-07
3,0xf689cd49486bbd641a1ba1663e19fe900b451aa7f478...,Execute,15193392,3 secs ago,0xf6e20815d62b80a53a6ca135f40ff496f7e7e9ca,Uniswap: Universal Router V1 2 V2Support,0.027 ETH,2.600000e-07
4,0x056540f5969b75de89ba879f724e6a3dc6722ade61b6...,Mint With Reward...,15193392,3 secs ago,0xbf5523b608a0b2e6a1ac553191d881d7de8318cb,0x34ee9c5307d2bbcbf0c961b14eea7faaaa2dbf21,0.000777 ETH,1.900000e-07

In [29]:
pd.set_option('display.max_rows', None)
# count = df['From'].value_counts()
# print(df.shape)
# print(count)
filtered_df = df[df['From'] == '0x9c71226863d3db3a7de3402e3743fea8026dc9e0']
count = filtered_df['To'].value_counts()
print(count)

To
0xce4cf0d5da97b7f4de1ba76609f2a1330411e7c0    121
Name: count, dtype: int64

In [15]:
#find the first row where to == Uniswap: Universal Router V1 2 V2Support
df.loc[df['To'] == 'Uniswap: Universal Router V1 2 V2Support'].head(1)

,Txn Hash,Method,Block,Age,From,To,Value,Txn Fee
2,0x211f0142b54da17a0109ebd279c5aec7e0831dd9e5fc...,Execute,15193392,3 secs ago,0xf3780b2e60306eeafd5c6b7381a0c141d7c3c378,Uniswap: Universal Router V1 2 V2Support,0 ETH,2.600000e-07

In [23]:
import requests

address = '0xf3780b2e60306eeafd5c6b7381a0c141d7c3c378'

url = f"""https://api.basescan.org/api?module=contract&action=getabi&address={address}&apikey={s.base_scan_api_key}"""

response = requests.get(url)

In [24]:
response.json()

{'status': '0',
 'message': 'NOTOK',
 'result': 'Contract source code not verified'}